polkit.addRule(function(action, subject) {
    if (!subject.active || !subject.local) {
        return;
    }

    switch (action.id) {
    case "org.freedesktop.udisks2.filesystem-mount":
    case "org.freedesktop.udisks2.eject-media":
        return polkit.Result.YES;
    default:
        return;
    }
});
